<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{#if desc}}
        <meta name="description" content="{{desc}}">
    {{else}}
        <meta name="description" content="Unofficial Twitch Client for the Roku"><!-- TODO and Apple TV-->
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {{#if title}}
        {{title}}
    {{else if append}}
        {{append}} - Twitched
    {{else}}
        Twitched
    {{/if}}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {{#if inc}}
        {{> (lookup . "inc") }}
    {{/if}}
</head>
<body>